:root {
  --base: #3c3836; /* Base background color */
  --text: #ebdbb2; /* Text color */
  --green: #b8bb26; /* Green */
  --red: #fb4934; /* Red */
  --lavender: #d5c4a1; /* Lavender */
  --flamingo: #ea6a6a; /* Flamingo */
  --mauve: #c79dff; /* Mauve */
  --blue: #83a598; /* Blue */
  --rosewater: #f5e0dc; /* Rosewater */
  --yellow: #fabd2f; /* Yellow */
  --peach: #f2b5d4; /* Peach */
}
